.fillIn {
  background: #fff;
}
.fillIn .fillInBottom {
  padding: 50px 20px;
}
.fillIn .fillInBottom h1 {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  line-height: 35px;
}
.fillIn .fillInBottom p {
  font-size: 12px;
  color: #858585;
  line-height: 25px;
}
.fillIn .fillInBottom a {
  display: inline-block;
  background: #ff4200;
  padding: 15px 40px;
  margin-top: 30px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}
.fillIn .fillInTop {
  padding-top: 70px;
}
.fillIn .fillInTop img {
  float: right;
  width: 485px;
}
.fillIn .fillInTop h1 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  padding-top: 20px;
  float: left;
}
.fillIn .fillInMain {
  background: #f7fafa;
  margin-top: 70px;
  border: 1px solid #dbdbe0;
}
.fillIn .fillInMain .fillInMain-left {
  font-size: 12px;
  color: #858585;
  float: left;
  width: 100px;
  text-align: center;
  height: 100%;
}
.fillIn .fillInMain .fillInMainTop {
  border-bottom: 1px solid #dbdbe0;
  line-height: 50px;
}
.fillIn .fillInMain .fillInMainTop p {
  float: left;
  color: #ff4200;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
}
.fillIn .fillInMain .fillInMainBottom {
  padding-bottom: 40px;
  line-height: 200%;
}
.fillIn .fillInMain .fillInMainBottom div {
  padding-top: 30px;
}
.fillIn .fillInMain .fillInMainBottom div p {
  width: 830px;
  float: right;
  padding-right: 100px;
}
.fillIn .fillInMain .fillInMainBottom div p span {
  font-weight: bold;
}
.fillIn .fillInMain .fillInMainBottom div textarea {
  resize: none;
  width: 830px;
  float: right;
  margin-right: 100px;
  height: 150px;
}
.fillIn .fillInMain .fillInMainBottom div .fillIn-active {
  color: #ff4200;
}
