.payComplate {
  background: #fff;
  padding-bottom: 100px;
}
.payComplate .payComplateTop {
  padding-top: 70px;
}
.payComplate .payComplateTop .payComplateTop-left {
  width: 150px;
  margin-left: 100px;
}
.payComplate .payComplateTop .payComplateTop-right {
  width: 485px;
}
.payComplate .payComplateMain {
  margin-top: 60px;
  padding: 60px 120px;
  background: #f7fafa;
}
.payComplate .payComplateMain .title {
  margin-bottom: 30px;
}
.payComplate .payComplateMain p {
  margin-bottom: 60px;
}
.payComplate .payComplateMain .more {
  padding: 20px 30px;
  background: #58c7e7;
  color: #fff;
  border-radius: 6px;
  margin-right: 20px;
}
