
.buy-record-right{float:left;background: #fff;padding: 20px 5% 41px 5%;margin-bottom: 70px;width: 90%}
// .buy-record-right li{float: left;}
.buy-record-right-title-list>li{float: left;color:#6a6a6a;padding:12px;cursor: pointer;}
.buy-record-right-title-list>li.active{color:#150b09;border-bottom: 2px solid #43aefc}
.buy-record-right-title{line-height: 45px;background: #f5f4f3;}
.buy-record-right-title span{float: left;text-align: center;}
.buy-record-right-width1{width: 400px;}
.buy-record-right-width2{width: 165px;}
.buy-record-right-width3{width: 125px;}
.buy-record-right-width4{width: 96px;}
.buy-record-right-list>li{padding: 20px 0px;border-bottom: 1px solid #d9d9de}
.buy-record-right-list>li>div{float: left;text-align: center;}
div.buy-record-right-width1{overflow: hidden;}
div.buy-record-right-width1 img{width:150px;float: left;}
div.buy-record-right-width2{line-height: 100px;color:#ff4200;font-weight: bold;}
div.buy-record-right-width3{line-height: 100px;color:#ff4200;font-weight: bold;}
div.buy-record-right-width4{margin-top: 20px;}
.buy-record-right-width1-right{float: left;margin-left: 35px;padding-top: 15px;text-align: left;}
.buy-record-right-width1-right h1{font-size: 14px; font-weight: bold;}
.buy-record-right-width1-right .author{font-size: 11px;color:#828282;}
.buy-record-right-width1-right .number{font-size: 12px;color:#150b09;padding-top:15px;}
