<div class="payPage black">
<div class="container">
	<div class="payPageTop clear">
		<h1 class="f18 fb fl">{{show.title}}</h1>
		<img class="fr" src="img/progress2.png" alt="">
	</div>
	<p class="f12 gray">订单号：4496480277289&nbsp;&nbsp;&nbsp;&nbsp;请您在24小时内付清款项，否则订单会被自动取消。</p>
	<div class="payPageMain-top clear">
		<span class="gray f12 fl">快捷支付</span>
		<span class="gray f12 fl">网银支付</span>
		<p class="payPageMain-cost fr">应付款 <span class="f20 fb">￥{{show.cost}}</span> </p>
	</div>
	<div class="payPageMain-middle clear">
		<h1 class="f14 fb">请选择银行：</h1>
		<div>
			<input type="radio" name="1" value="">
			<img src="img/payPage.img1.png" alt="">
		</div>
		<div>
			<input type="radio" name="1" value="">
			<img src="img/payPage.img1.png" alt="">
		</div>
		<div>
			<input type="radio" name="1" value="">
			<img src="img/payPage.img1.png" alt="">
		</div>
		<div>
			<input type="radio" name="1" value="">
			<img src="img/payPage.img1.png" alt="">
		</div>
		<div>
			<input type="radio" name="1" value="">
			<img src="img/payPage.img1.png" alt="">
		</div>
		<div>
			<input type="radio" name="1" value="">
			<img src="img/payPage.img1.png" alt="">
		</div>
		<div>
			<input type="radio" name="1" value="">
			<img src="img/payPage.img1.png" alt="">
		</div>
		<div>
			<input type="radio" name="1" value="">
			<img src="img/payPage.img1.png" alt="">
		</div>
		<div>
			<input type="radio" name="1" value="">
			<img src="img/payPage.img1.png" alt="">
		</div>
		<div>
			<input type="radio" name="1" value="">
			<img src="img/payPage.img1.png" alt="">
		</div>
		<div>
			<input type="radio" name="1" value="">
			<img src="img/payPage.img1.png" alt="">
		</div>
		<div>
			<input type="radio" name="1" value="">
			<img src="img/payPage.img1.png" alt="">
		</div>
		<div>
			<input type="radio" name="1" value="">
			<img src="img/payPage.img1.png" alt="">
		</div>
		<div>
			<input type="radio" name="1" value="">
			<img src="img/payPage.img1.png" alt="">
		</div>
		<div>
			<input type="radio" name="1" value="">
			<img src="img/payPage.img1.png" alt="">
		</div>
	</div>
	<a ui-sref="payComplate({id:show.id})">确认支付</a>
</div>
</div>